#Phrase

In [ ]:
import json
with open("/content/singgalang-test.json", encoding='UTF-8') as f:
    list_sents = json.load(f)

In [ ]:
list_tmp = []
for idx, x in enumerate(list_sents):
  for idy, y in enumerate(x.get('entities')):
    if len(y.get('text').split()) >1 :
      list_tmp.append(x)
      break

In [ ]:
list_tmp[:5]

[{'doc_id': 'Singgalang#37221',
  'doc_text': 'Christine Madeleine Odette Lagarde -LRB- -RRB- saat ini menjabat Menteri Urusan Ekonomi , Keuangan dan Perindustrian Perancis , dan direktur terpilih Dana Moneter Internasional .',
  'entities': [{'end_offset': 34,
    'entity_id': 77195,
    'label': 'PERSON',
    'start_offset': 10,
    'text': 'Madeleine Odette Lagarde'},
   {'end_offset': 125,
    'entity_id': 77196,
    'label': 'PLACE',
    'start_offset': 117,
    'text': 'Perancis'},
   {'end_offset': 176,
    'entity_id': 77197,
    'label': 'ORGANISATION',
    'start_offset': 150,
    'text': 'Dana Moneter Internasional'}]},
 {'doc_id': 'Singgalang#22621',
  'doc_text': 'Tony Williams mulai mempelajari drum pada Alan Dawson pada usia yang sangat muda , dan mulai bermain secara profesional pada usia 13 tahun , saat itu ia bergabung pada Sam River , seorang pemain saksofon yang cukup terkenal .',
  'entities': [{'end_offset': 13,
    'entity_id': 49608,
    'label': 'PERSON',
    'start_offset': 0,
    'text': 'Tony Williams'}]},
 {'doc_id': 'Singgalang#48700',
  'doc_text': 'Sebagai diplomat karier , Zet Mirzal memulai kiprahnya di Departemen Luar Negeri Indonesia sejak akhir tahun 1975 , dan telah melalui semua jenjang pendidikan yang berhubungan dengan diplomatik .',
  'entities': [{'end_offset': 36,
    'entity_id': 98513,
    'label': 'PERSON',
    'start_offset': 26,
    'text': 'Zet Mirzal'},
   {'end_offset': 90,
    'entity_id': 98514,
    'label': 'PLACE',
    'start_offset': 81,
    'text': 'Indonesia'}]},
 {'doc_id': 'Singgalang#35137',
  'doc_text': 'Namun akhirnya nama Timur-lah -LRB- rekan satu angkatan di Akpol 1978 -RRB- yang resmi diajukan kepada DPR dan dilantik oleh Presiden Susilo Bambang Yudhoyono menjadi Kapolri baru .',
  'entities': [{'end_offset': 106,
    'entity_id': 73463,
    'label': 'ORGANISATION',
    'start_offset': 103,
    'text': 'DPR'},
   {'end_offset': 158,
    'entity_id': 73464,
    'label': 'PERSON',
    'start_offset': 134,
    'text': 'Susilo Bambang Yudhoyono'}]},
 {'doc_id': 'Singgalang#4207',
  'doc_text': 'Ia kembali ke pemerintahan pada 1915 saat Herbert Asquith menawarinya kedudukan First Lord of the Admiralty dalam pemerintahan koalisi PD I Britania Raya .',
  'entities': [{'end_offset': 153,
    'entity_id': 10225,
    'label': 'PLACE',
    'start_offset': 140,
    'text': 'Britania Raya'}]}]

In [ ]:
print(len(list_tmp))
print(len(list_sents))

3221
7347

In [ ]:
import codecs
with open("singgalang_phrase.json", "wb") as f:
    json.dump(list_tmp,
              codecs.getwriter("utf-8")(f),
              ensure_ascii=False,
              indent = 4)

#Ambigu

In [ ]:
import pandas as pd
import csv

dataset = pd.read_csv("https://raw.githubusercontent.com/ir-nlp-csui/singgalang/main/SINGGALANG.tsv", header = None, delimiter="\t", names=['token', 'entitas'], quoting=csv.QUOTE_NONE, encoding='utf-8')

In [ ]:
dataset['distinctentitas'] = dataset['token'].map(dataset.groupby('token')['entitas'].nunique(dropna = True))

In [ ]:
dataset.loc[dataset['entitas'] == 'Person'].head(30)

         token entitas  distinctentitas
100      Anwar  Person              2.0
408     Rainer  Person              2.0
409      Maria  Person              4.0
417      Gamal  Person              2.0
418      Abdul  Person              2.0
429   Muhammad  Person              2.0
2553        IX  Person              3.0
2631      VIII  Person              2.0
2742      Paku  Person              2.0
2743      Alam  Person              4.0
2881      Adam  Person              2.0
2882     Malik  Person              2.0
2899     Saleh  Person              2.0
2908     Karno  Person              2.0
4184    Willem  Person              2.0
4185        II  Person              4.0
4774  Mohammad  Person              2.0
4775     Hatta  Person              3.0
5255   Hussein  Person              2.0
5461   Bambang  Person              2.0
5481     Wahid  Person              2.0
5629  Benjamin  Person              2.0
5630  Franklin  Person              2.0
5653   William  Person              2.0
5654     Henry  Person              2.0
5694      Paul  Person              2.0
5695     Allen  Person              2.0
5723   Melinda  Person              2.0
5724     Gates  Person              2.0
5762       Ray  Person              2.0

In [ ]:
dataset.loc[dataset['entitas'] == 'Organisation'].head(30)

                 token       entitas  distinctentitas
568        Universitas  Organisation              3.0
569          Indonesia  Organisation              3.0
779             Gadjah  Organisation              2.0
780               Mada  Organisation              3.0
4830            Partai  Organisation              2.0
4831           Komunis  Organisation              2.0
4847           Majelis  Organisation              2.0
4848   Permusyawaratan  Organisation              2.0
4849            Rakyat  Organisation              3.0
5248               PBB  Organisation              2.0
5473               MPR  Organisation              2.0
5492            Golkar  Organisation              2.0
7676              Arun  Organisation              2.0
7677           Natural  Organisation              2.0
7678               Gas  Organisation              2.0
9726             Dewan  Organisation              3.0
9727        Perwakilan  Organisation              2.0
12258        Compagnie  Organisation              2.0
16355         Institut  Organisation              2.0
16356        Teknologi  Organisation              2.0
16357          Bandung  Organisation              3.0
27805      Kebangkitan  Organisation              2.0
27806           Bangsa  Organisation              3.0
29541          Persiga  Organisation              2.0
29542       Trenggalek  Organisation              2.0
29547             Liga  Organisation              3.0
30314           Negeri  Organisation              3.0
30315       Yogyakarta  Organisation              2.0
37932              DPR  Organisation              2.0
38269            Badan  Organisation              2.0

In [ ]:
index_names = dataset[ dataset['distinctentitas'] == 1 ].index
dataset.drop(index_names, inplace = True)

In [ ]:
dataset = dataset.drop_duplicates()

In [ ]:
dataset.loc[dataset['entitas'] != 'O'].tail(30)

              token       entitas  distinctentitas
1464945     Helmond         Place              2.0
1465550       Vidya        Person              2.0
1465551       Balan        Person              2.0
1468220        Awal         Place              2.0
1468221        Bros         Place              2.0
1468340     Mattala         Place              2.0
1468341   Rajapaksa         Place              2.0
1468985       Verdy  Organisation              2.0
1469148        Want  Organisation              2.0
1469709      Lautan         Place              2.0
1470126   Pekerjaan  Organisation              2.0
1470133   Perumahan  Organisation              2.0
1470139  Tertinggal  Organisation              2.0
1470153         SAR  Organisation              2.0
1470893         Tun  Organisation              2.0
1470894       Abdul  Organisation              2.0
1470895       Razak  Organisation              2.0
1470937        INTI  Organisation              2.0
1471091       Letta        Person              2.0
1474041       Inaba  Organisation              2.0
1474145   Progresif  Organisation              2.0
1474146       Sabah  Organisation              2.0
1475003       Datar        Person              3.0
1475060        Deru        Person              2.0
1475889      Thalia        Person              2.0
1475951        Dena        Person              2.0
1476390      Willem  Organisation              2.0
1476392     Tilburg  Organisation              2.0
1476741        Rani        Person              2.0
1477272         Una        Person              2.0

In [ ]:
list_token_ambigu = dataset['token'].values.tolist()
print(type(list_token_ambigu))

<class 'list'>

In [ ]:
list_token_ambigu[:5]

['Presiden', 'Mesir', 'Barat', 'Timur', 'Tengah']

In [ ]:
def compare(l1, l2):
    # here l1 and l2 must be lists
    # if len(l1) != len(l2):
    #     return False
    # l1.sort()
    # l2.sort()
    if bool (set(l1) & set(l2)):
        return True
    else:
        return False

In [ ]:
lista_tmp = []
for idx, x in enumerate(list_sents):
  for idy, y in enumerate(x.get('entities')):
    print(compare(y.get('text').split(), list_token_ambigu))
    if compare(y.get('text').split(), list_token_ambigu) == True :
      lista_tmp.append(x)
      
      break
  break

False
True

In [ ]:
lista_tmp[0:]

[{'doc_id': 'Singgalang#37221',
  'doc_text': 'Christine Madeleine Odette Lagarde -LRB- -RRB- saat ini menjabat Menteri Urusan Ekonomi , Keuangan dan Perindustrian Perancis , dan direktur terpilih Dana Moneter Internasional .',
  'entities': [{'end_offset': 34,
    'entity_id': 77195,
    'label': 'PERSON',
    'start_offset': 10,
    'text': 'Madeleine Odette Lagarde'},
   {'end_offset': 125,
    'entity_id': 77196,
    'label': 'PLACE',
    'start_offset': 117,
    'text': 'Perancis'},
   {'end_offset': 176,
    'entity_id': 77197,
    'label': 'ORGANISATION',
    'start_offset': 150,
    'text': 'Dana Moneter Internasional'}]}]

In [ ]:
import json
with open("/content/ambigu.json", encoding='UTF-8') as f:
    list_ambigu = json.load(f)

In [ ]:
list_ambigu = list_ambigu+lista_tmp

In [ ]:
list_ambigu[10:]

[{'doc_id': 'Singgalang#10',
  'doc_text': 'Penanggulangan Bencana Daerah Garut , Jalan Terusan Pahlawan , Kecamatan Tarogong Kidul , Kabupaten Garut .',
  'entities': [{'end_offset': 29,
    'entity_id': 17,
    'label': 'ORGANISATION',
    'start_offset': 0,
    'text': 'Penanggulangan Bencana Daerah'},
   {'end_offset': 35,
    'entity_id': 18,
    'label': 'PLACE',
    'start_offset': 30,
    'text': 'Garut'},
   {'end_offset': 60,
    'entity_id': 19,
    'label': 'PLACE',
    'start_offset': 38,
    'text': 'Jalan Terusan Pahlawan'},
   {'end_offset': 87,
    'entity_id': 20,
    'label': 'PLACE',
    'start_offset': 63,
    'text': 'Kecamatan Tarogong Kidul'},
   {'end_offset': 105,
    'entity_id': 21,
    'label': 'PLACE',
    'start_offset': 90,
    'text': 'Kabupaten Garut'}]},
 {'doc_id': 'Singgalang#11',
  'doc_text': 'KLM adalah maskapai penerbangan terbesar di Belanda .',
  'entities': [{'end_offset': 3,
    'entity_id': 22,
    'label': 'ORGANISATION',
    'start_offset': 0,
    'text': 'KLM'},
   {'end_offset': 51,
    'entity_id': 23,
    'label': 'PLACE',
    'start_offset': 44,
    'text': 'Belanda'}]},
 {'doc_id': 'Singgalang#12',
  'doc_text': '" Insya Allah tinggal selangkah lagi , 13 tahun penantian Jawa Barat akan dapat tambahan pahlawan nasional , " kata Ketua Tim Peneliti',
  'entities': [{'end_offset': 68,
    'entity_id': 24,
    'label': 'PLACE',
    'start_offset': 58,
    'text': 'Jawa Barat'},
   {'end_offset': 134,
    'entity_id': 25,
    'label': 'ORGANISATION',
    'start_offset': 122,
    'text': 'Tim Peneliti'}]},
 {'doc_id': 'Singgalang#13',
  'doc_text': 'Pengkaji  Gelar Pusat Muhammad',
  'entities': [{'end_offset': 30,
    'entity_id': 26,
    'label': 'ORGANISATION',
    'start_offset': 0,
    'text': 'Pengkaji  Gelar Pusat Muhammad'}]},
 {'doc_id': 'Singgalang#14',
  'doc_text': 'Bando dilansir detikJabar dari laman  resmi Universitas Padjajaran .',
  'entities': [{'end_offset': 5,
    'entity_id': 27,
    'label': 'PERSON',
    'start_offset': 0,
    'text': 'Bando'},
   {'end_offset': 66,
    'entity_id': 28,
    'label': 'ORGANISATION',
    'start_offset': 44,
    'text': 'Universitas Padjajaran'}]},
 {'doc_id': 'Singgalang#15',
  'doc_text': 'Institut Teknologi Del atau yang biasa disebut dengan IT Del , adalah sebuah perguruan tinggi swasta di Sumatera Utara yang berfokus di bidang teknologi .',
  'entities': [{'end_offset': 22,
    'entity_id': 29,
    'label': 'ORGANISATION',
    'start_offset': 0,
    'text': 'Institut Teknologi Del'},
   {'end_offset': 60,
    'entity_id': 30,
    'label': 'ORGANISATION',
    'start_offset': 54,
    'text': 'IT Del'},
   {'end_offset': 118,
    'entity_id': 31,
    'label': 'PLACE',
    'start_offset': 104,
    'text': 'Sumatera Utara'}]},
 {'doc_id': 'Singgalang#16',
  'doc_text': 'Kawasan Gunung Ijen menyimpan banyak pesona yang membuatnya sangat populer .',
  'entities': [{'end_offset': 19,
    'entity_id': 32,
    'label': 'PLACE',
    'start_offset': 8,
    'text': 'Gunung Ijen'}]},
 {'doc_id': 'Singgalang#17',
  'doc_text': 'Gunung Sibayak merupakan salah satu destinasi favorit bagi para pendaki gunung selain Gunung Sinabung .',
  'entities': [{'end_offset': 14,
    'entity_id': 33,
    'label': 'PLACE',
    'start_offset': 0,
    'text': 'Gunung Sibayak'},
   {'end_offset': 101,
    'entity_id': 34,
    'label': 'PLACE',
    'start_offset': 86,
    'text': 'Gunung Sinabung'}]},
 {'doc_id': 'Singgalang#18',
  'doc_text': 'Universitas Kairo sudah sangat terkenal sebagai universitas terbaik untuk mempelajari Islam .',
  'entities': [{'end_offset': 17,
    'entity_id': 35,
    'label': 'ORGANISATION',
    'start_offset': 0,
    'text': 'Universitas Kairo'}]},
 {'doc_id': 'Singgalang#19',
  'doc_text': 'James Gitundu Kairo memiliki pengalaman kerja yang luas dalam konservasi , rehabilitasi , dan pemanfaatan berkelanjutan sumber daya pesisir dan laut .',
  'entities': [{'end_offset': 19,
    'entity_id': 36,
    'label': 'PERSON',
    'start_offset': 0,
    'text': 'James Gitundu Kairo'}]},
 {'doc_id': 'Singgalang#20',
  'doc_text': 'Janaiah Kota adalah peneliti biomedis independen , ahli dalam terapi gen adeno-associated virus dan terapi RNAi , penulis beberapa artikel jurnal yang diterbitkan dan pemegang beberapa paten yang memiliki implikasi dunia nyata untuk membantu orang .',
  'entities': [{'end_offset': 12,
    'entity_id': 37,
    'label': 'PERSON',
    'start_offset': 0,
    'text': 'Janaiah Kota'}]},
 {'doc_id': 'Singgalang#21',
  'doc_text': 'Informasi yang dihimpun , baru-baru ini CHOC mendatangkan sebanyak',
  'entities': []},
 {'doc_id': 'Singgalang#22',
  'doc_text': 'orang TKA asal  China dan puluhan orang tenaga kerja Indonesia dari luar Bali .',
  'entities': [{'end_offset': 21,
    'entity_id': 38,
    'label': 'PLACE',
    'start_offset': 16,
    'text': 'China'},
   {'end_offset': 62,
    'entity_id': 39,
    'label': 'PLACE',
    'start_offset': 53,
    'text': 'Indonesia'},
   {'end_offset': 77,
    'entity_id': 40,
    'label': 'PLACE',
    'start_offset': 73,
    'text': 'Bali'}]},
 {'doc_id': 'Singgalang#23',
  'doc_text': 'Pemilik Halalan Toyyiban  Masakan  Padang ,  Abdul Gapur  (46)  mengaku  total  lebih dari 10 menu yang Ia bawa setiap harinya .',
  'entities': [{'end_offset': 41,
    'entity_id': 41,
    'label': 'PLACE',
    'start_offset': 35,
    'text': 'Padang'},
   {'end_offset': 57,
    'entity_id': 42,
    'label': 'PERSON',
    'start_offset': 45,
    'text': 'Abdul Gapur '}]},
 {'doc_id': 'Singgalang#24',
  'doc_text': 'Universitas Sumatera Utara terus melakukan serangkaian kegiatan untuk mendukung program prioritas yakni internasionalisasi dan mengikuti 12 th Joint Working Group 2022 di Prancis .',
  'entities': [{'end_offset': 26,
    'entity_id': 43,
    'label': 'ORGANISATION',
    'start_offset': 0,
    'text': 'Universitas Sumatera Utara'},
   {'end_offset': 178,
    'entity_id': 44,
    'label': 'PLACE',
    'start_offset': 171,
    'text': 'Prancis'}]},
 {'doc_id': 'Singgalang#25',
  'doc_text': 'Universitas Sumatera Utara akan berkolaborasi dengan salah satu universitas di Prancis yakni Universite Polytechnique Huss-de-France .',
  'entities': [{'end_offset': 26,
    'entity_id': 45,
    'label': 'ORGANISATION',
    'start_offset': 0,
    'text': 'Universitas Sumatera Utara'},
   {'end_offset': 86,
    'entity_id': 46,
    'label': 'PLACE',
    'start_offset': 79,
    'text': 'Prancis'},
   {'end_offset': 132,
    'entity_id': 47,
    'label': 'ORGANISATION',
    'start_offset': 93,
    'text': 'Universite Polytechnique Huss-de-France'}]},
 {'doc_id': 'Singgalang#26',
  'doc_text': 'Willem II Tilburg adalah klub sepak bola Belanda yang berbasis di kota Tilburg .',
  'entities': [{'end_offset': 17,
    'entity_id': 48,
    'label': 'ORGANISATION',
    'start_offset': 0,
    'text': 'Willem II Tilburg'},
   {'end_offset': 48,
    'entity_id': 49,
    'label': 'PLACE',
    'start_offset': 41,
    'text': 'Belanda'},
   {'end_offset': 78,
    'entity_id': 50,
    'label': 'PLACE',
    'start_offset': 71,
    'text': 'Tilburg'}]},
 {'doc_id': 'Singgalang#37221',
  'doc_text': 'Christine Madeleine Odette Lagarde -LRB- -RRB- saat ini menjabat Menteri Urusan Ekonomi , Keuangan dan Perindustrian Perancis , dan direktur terpilih Dana Moneter Internasional .',
  'entities': [{'end_offset': 34,
    'entity_id': 77195,
    'label': 'PERSON',
    'start_offset': 10,
    'text': 'Madeleine Odette Lagarde'},
   {'end_offset': 125,
    'entity_id': 77196,
    'label': 'PLACE',
    'start_offset': 117,
    'text': 'Perancis'},
   {'end_offset': 176,
    'entity_id': 77197,
    'label': 'ORGANISATION',
    'start_offset': 150,
    'text': 'Dana Moneter Internasional'}]}]

In [ ]:
import codecs
with open("singgalang_ambigu.json", "wb") as f:
    json.dump(list_ambigu,
              codecs.getwriter("utf-8")(f),
              ensure_ascii=False,
              indent = 4)